* { margin: 0; padding: 0; }
html{
    scroll-behavior: smooth;
}
body, html{
    position: relative;
    display: grid;
    width: 100%;
    height: 0 auto;
    scroll-behavior: smooth;
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5);
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

header.AreaContato{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.AreaContato a img{
    margin: 4px;
}
.AreaContato a img:hover{
    width: 45px;
}
.imgFace{width: 40px; border-radius: 50%; cursor: pointer;} .imgInsta{width: 40px; border-radius: 50%; cursor: pointer;} .imgWpp{ width: 40px; border-radius: 50%; cursor: pointer;} .imgEmail{width: 40px; border-radius: 50%; cursor: pointer;}
.TXTDecoration{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.TXTDecoration:hover{
    font-size: 21px;
}
.ImgLocalIcon{
    height: 45px;
    cursor: pointer;
}



.corM{
    background:linear-gradient(#fbe9c5 1%, rgb(255, 216, 143), #fbe9c5);
}



nav.Menu{
    width: auto;
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav.Menu .LogoMenu{ /*Logo*/
    position: relative;
    width: 250px;
    right: 30px;
    top: -25px;
}
nav.Menu ul{
    padding: 0;
    display: flex;
}
nav.Menu li{
    list-style: none
}
nav.Menu a{
    text-decoration: none;
}
nav.Menu h1{ /*Títulos*/
    position: relative;
    margin: 10px;
    margin-left: 18px;
    font-size: 30px;
    top: -10px;
    color: black;
    font-weight: lighter;
    border-left: solid 2px;
    border-top: solid 2px;
    cursor: pointer;
}
nav.Menu h1:hover{ /*Hover dos títulos*/
    font-size: 32px;
}


.ClickHamburguer{
    position: relative;
    width: 50px;
    margin: 10px;
    top: -15px;
    cursor: pointer;
}
.DropHamburguer{
    display: none;
    position: absolute;
    z-index: 1;
    right: 10px;
    border-radius: 20px;
    animation: slow 5s ease-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  url(/Img/Hambuerguer/Folha.png);
    border: solid 3px rgb(255, 216, 143);
    padding: 20px;
}

.EstiloTXTHamburguer{
    color: white;
    font-weight: bold;
    position: relative;
    float: right;
    border-bottom: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    padding: 0px 3px;
    font-size: 20px;
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* borda preta de 2 pixels */
    
}
.EstiloTXTHamburguer:hover{
    font-size: 21px;
}
#MenuEspaço{display: block;} #MenuComoChegar{display: block;} #MenuTrilhas{display: block;} #MenuPetFriendly{display: block;} #MenuValores{display: block;} #MenuMotorHome{display: block;}
#HamburguerEspaço{display: none;} #HamburguerComoChegar{display: none;} #HamburguerTrilhas{display: none;} #HamburguerPetFriendly{display: none;} #HamburguerValores{display: none;} #HamburguerMotorHome{display: none;}

.SeçãoCarrosel{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiffy-slider{
    max-width: 1800px;
    
}
.slider-container img{
    border-radius:20px;
    object-fit: cover;
}

.SeçãoEspaço{ /*Espaço*/
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5);
    display: grid;
    justify-content: center;
    align-items: center;
    
}
h2, h3, h4{
    text-align: center;
    margin-bottom: 0px;
}
#Espaço{ /*Títulos das seções*/
    position: relative;
    top: 10px;
    height: 100px;
}
div.imgsEspaço{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-left: 10px;
}
.feedbackytE{
    position: absolute;
    height: 40px;
    display: flex;
    left: 650px;
    top: 665px;
    cursor: pointer;
}
.feedbackytE:hover{
    height: 42px;
}
.imgEspaço{
    max-height:350px; 
    max-width: 350px; 
    border: solid 2px black;
    border-radius: 20px;
} 
.DescriçãoEspaço{
    margin: 10px;
    text-align: center;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 600px;
}
.PlacaEspaço{
    height: 150px;
    display: block;
    margin-left: 60px;
    border: solid 2px black;
    border-radius: 20px;
    transform: rotate(-15deg);
}
.regulamento{
    text-decoration: none;
}


.SeçãoComoChegar{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5);
    display: grid;
    justify-content: center;
    align-items: center;
}
#ComoChegar{
    position: relative;
    top: 10px;
    height: 100px;
}
.Coluns{
    display: flex;
}
.Mapa{
    position: relative;
    display: block;
    height: 550px;
    min-width: 700px;
    border-radius: 40px;
    border: solid 2px black;
    margin: 10px;  
}
.DescriçãoOndeEstamos{
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 600px;
}
.placa{
    position: relative;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: 50px;
    border: solid 2px black;
    border-radius: 20px;
    transform: rotate(15deg);
    top: 50px;
}
.PlacaComoChegar{
    position: relative;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: 80px;
    border: solid 2px black;
    border-radius: 20px;
    transform: rotate(-15deg);
    top: 50px;
}
.WikiLoc{
    position: relative;
    margin: 0px auto;
    height: 35px;
    width: auto;
    top: 20px;
    text-decoration: underline;
    padding: 0px 10px;
    border-radius: 10px;
    border: solid 1px;
    background: #fde6b8;
    color: black;
    font-size: 16px;
}
.WikiLoc:hover{
    font-size: 17px;
}



.SeçãoTrilhas{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5);
    position: relative;
    display: grid;
    width: 100%;
    height: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
}
h5{
    text-align: center;
    width: 100%;
    height: 70px;
    margin-bottom: 0;
    font-size: 30px;
}
#Trilhas{
    height: 100px;
}
.PicoDoUrubu, .PorDoSol{
    display: grid;
    height: auto;
    margin: 10px;
}
.Titlle {
    position: relative;
    height: 70px;
    margin-bottom: 0;
    margin: 0 auto;
}
.carrosel ul li img, .carrosel ul li, .carrosel ul, div.swiffy-slider.carrosel{
    max-height: 450px;
    width: 600px;
    overflow: hidden;
}
.carrosel{
    border: solid 2px black;
    border-radius: 20px;
}
.MapaWikiloc{
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: solid 2px black;
    margin-top: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cor{
    color: #000000;
    text-decoration: underline;
    width: 600px;
    background-color: #fde6b8;
    
}



.SeçãoPet{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5);
    display: grid;
    justify-content: center;
    align-items: center;
}
#PetFriendly{
    position: relative;
    height: 100px;
    text-align: center;
    top: 20px;
}
.DescPet{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 600px;
    margin-left: 5%;
    text-align: center;
}
.imgPet{
    max-height:350px; 
    max-width: 350px; 
    border: solid 2px black; 
    border-radius: 20px;
}
div.imgsPet{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-left: 10px;
}
.PlacaPet{
    height: 400px;
    position: relative;
    top: 10%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    border: solid 2px black;
    border-radius: 20px;
}



.SeçãoValores{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5);
    display: grid;
    justify-content: center;
}
#Valores{
    position: relative;
    height: 100px;
    text-align: center;
    top: 20px;
    margin-bottom: 30px;
}
.DescriçãoValores{
    margin-bottom: 30px;
    font-size: 22px;
    display: block;
    justify-content: center;
    text-align: center;
    width: 900px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.DescValores2{
    margin: 0 auto;
    display: block;
    justify-content: center;
    font-size: 22px;
    color: black;
    text-align: center;
    margin-top: 10%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}
.Lua{
    position: relative;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    margin-right: 25px;
    transform: rotate(10deg);
}
.barraca{
    position: relative;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    margin-left: 25px;
    transform: rotate(-10deg);
}



.SeçãoMotorHome{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5);
    display: grid;
    justify-content: center;
    align-items: center;
}
#MotorHome{
    position: relative;
    height: 100px;
    text-align: center;
    top: 15%;
    display: block;
    margin: auto;
}
.DescMotorHome{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 600px;
    text-align: center;
}
.imgsMotor{
    position: relative;
    top: 30px;
}
.feedbackytM{
    position: absolute;
    height: 40px;
    display: flex;
    left: 275px;
    top: 10px;
    cursor: pointer;
}
.feedbackytM:hover{
    height: 42px;
}
.imgHome{
    max-height:350px; 
    max-width: 350px; 
    border: solid 2px black; 
    border-radius: 20px;
}
div.imgsMotor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-right: 10px;
}
.placaMototHome{
    height: 400px;
    position: relative;
    top: 10%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    border: solid 2px black;
    border-radius: 20px;
}



.SeçãoFeedBacks{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5);
    display: grid;
    justify-content: center;
    align-items: center;
}
#feedbacks{
    position: relative;
    height: 100px;
    display: block;
    margin: auto;
    top: 25px;
}
.colunasfeed{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}
.imgsfeed{
    border-radius: 15px;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    margin: 20px;
    border: solid 1px black
}
.F1{display: block; position: relative; top: -10px; width: 420px; height: 250px; transform: rotate(-5deg);} 
.F2{display: block; position: relative; left: 200px; transform: rotate(10deg);}
.F3{position: relative; display: block; left: 50px; transform: rotate(-5deg);} 
.F4{position: relative; display: block; left: 100px; transform: rotate(-15deg);} 
.F5{position: relative; display: block; left: 80px; top: -20px; transform: rotate(15deg); width: 400px;} 
.F6{position: relative; display: block; right: 20px; transform: rotate(-5deg);} 
.F7{position: relative; display: block; left: 200px; transform: rotate(-15deg);}
.F8{position: relative; display: block; top: 20px; width: 400px; height: 225px; transform: rotate(-12deg);}
.F9{position: relative; display: block; top: 10px; width: 400px; height: 225px; transform: rotate(5deg);}



.SeçãoEventos{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    display: grid;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #fbe9c5);
}
#Eventos{
    position: relative;
    height: 100px;
    display: block;
    margin: auto;
    top: 10px;
}
div.imgsevent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-right: 10px;
}
.imgevent{
    max-height:350px; 
    max-width: 350px; 
    border: solid 2px black; 
    border-radius: 20px;
}
.DescriçãoEventos{
    margin: 10px;
    text-align: center;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 600px;
}

footer{
    background:linear-gradient(#fbe9c5 20%, rgb(255, 216, 143), #292827);
}

.SeçãoDúvidas{
    border-left: solid 5px rgb(112, 114, 21);
    border-right: solid 5px rgb(112, 114, 21);
    display: grid;
    justify-content: center;
    align-items: center;
}
#Duvidas{
    position: relative;
    height: 100px;
    text-align: center;
    top: 10px;
}
.P{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    background: none;
    border: none;
    border-left: solid 2px rgb(112, 114, 21);
    border-right: solid 2px rgb(112, 114, 21);
    border-top: solid 2px rgb(112, 114, 21);
    margin-bottom: 20px;
    cursor: pointer;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 600px;
}
.R{
    font-size: 21px;
    display: none;
    animation: slow 5s ease-out;
    font-family: Arial, Helvetica, sans-serif;
}



.WppFlutuante{
    position: fixed;
    right: 0;
    bottom: 0;
}
.ImgWppFlutante{
    cursor: pointer;
    position: relative;
    width: 45px;
    bottom: 10px;
    right: 10px;
    animation: slow 5s ease-out;
}
#chat{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    animation: slow 5s ease-out;
}
@keyframes slow {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}
#relogio{
    font-family:'Open Sans', sans-serif; font-weight: 700;
    position: relative;
    top: 73px;
    left: 13%;
    font-size: 14px;
    z-index: 9;
    color: white;
    height: 5px;
}
.FecharChat{
    position: absolute;
    display: block;
    text-align: center;
    color: white;
    z-index: 9;
    font-weight: bold;
    left: 75%;
    top: 14%;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    font-family:'Open Sans', sans-serif;
}
.FecharChat:hover{
    font-size: 18px;
}
#nome{
    position: absolute;
    bottom: 208px;
    left:50px;
    border-radius: 10px;
    height: 35px;
    border: solid 2px black;
    display: block;
    width: 200px;
}
#Quantpessoas{
    position: absolute;
    display: block;
    border: solid 2px black;
    height: 35px;
    bottom: 153px;
    left:50px;
    border-radius: 10px;
    width: 200px;
}
#datachegada{
    position: absolute;
    bottom: 97px;
    left:50px;
    border-radius: 10px;
    height: 35px;
    border: solid 2px black;
    display: block;
    width: 200px;
}
#datasaida{
    border: solid 2px black;
    position: absolute;
    bottom: 45px;
    display: block;
    height: 35px;
    left:50px;
    border-radius: 10px;
    width: 200px;
}
.chatimg{
    display: block;
    position: relative;
    width: 350px;
    right: 10px;
    top: 50px;
}
#Enviar{
    position: relative;
    border-radius: 50%;
    color:red;
    width: 40px;
    height: 40px;
    bottom: 40px;
    left: 255px;
    opacity: 0%;
    cursor: pointer;
}


.Voltaaotopo{
    position: fixed;
    display: block;
    width: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: slow 5s ease-out;
}

@media(max-width:480px){
    
}